doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/jquery.mobile-1.4.5.min.css")
    script(src="/javascript/jquery-1.11.3.min.js")
    script(src="/javascript/jquery.mobile-1.4.5.min.js")
  body
    block content